anux-editor-switch-field {
  display: flex;
  flex: auto;
  align-items: center;

  > anux-editor-switch-label {
    display: flex;
    flex: auto;
  }

  > span {
    display: flex;
    flex: none;
  }
}