anux-editor-toggle-field {
    display: flex;
    flex: auto;
    align-items: center;

    >anux-editor-toggle-label {
        display: flex;
        flex: auto;
    }

    >span {
        display: flex;
        flex: none;
    }
}