anux-editor.test-class {
    margin: 30px;
    width: 250px;
    padding: 5px;
    background-color: #eee;
    border: solid 1px #aaa;
    box-shadow: 0 0 2px 1px #aaaaaa66;
}

report-record {
    position: absolute;
    top: 30px;
    left: 310px;
    width: 250px;
    padding: 5px;
    display: flex;
    flex: none;
    flex-direction: column;
    background-color: #eee;
    border: solid 1px #aaa;
    box-shadow: 0 0 2px 1px #aaaaaa66;

    >record-property {
        display: flex;
        flex: none;

        >record-property-name {
            width: 50%;
        }
    }
}